svg.logo {
  enable-background: new 0 0 1000 1000;

  .st0 {
    opacity: 0.6;
    fill: #f8ab86;
  }

  .st1 {
    opacity: 0.8;
    fill: #f8ab86;
  }

  .st2 {
    opacity: 0.9;
    fill: #f8ab86;
  }

  .st3 {
    fill: #f8ab86;
  }
}
